<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1">
	<parameter name="testurl" value="http://ssu-oms:8180/OMS/login.htm" />
	<test name="Test1">
		<classes>
			<class name="com.softserve.edu.oms.tests.LoginTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
